<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">Learn to Code</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav">

        <li class="nav-item">
            <a routerLink="user-login" class="nav-link">User Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="user-registration" class="nav-link">User Registration</a>
        </li>
        <li class="nav-item">
            <a routerLink="admin-login" class="nav-link">Admin Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="admin-registration" class="nav-link">Admin registration</a>
        </li>
    </ul>

</nav>