<form  #userLogin="ngForm">
    <div class="container">
    <br><br>
    
        <div class="alert alert-danger" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
    
         <div class="col-sm-3">
    
            <h2>User Login</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" [(ngModel)]="theUser.username"  #username="ngModel" required minlength="3" maxlength="8" autocomplete="off" pattern="^(?![0-9]+$)[a-zA-Z0-9 ]{2,}$">
                <div *ngIf="username.invalid && username.touched"  >
                    <small class="text-danger" *ngIf="username.errors.pattern" >
                        only alphabets are allowed
                    </small>
                   <small class="text-danger" >
                       username is required
                   </small>
                   <small class="text-danger"  *ngIf="username.errors.minlength">
                   Minimum Length should be 3
                </small>
                <small class="text-danger" *ngIf="username.errors.maxlength" >
                    Maximum Length should be 8
                </small>
              
                </div>
            </div>
        </div>
    
        <div class="col-sm-3">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" [(ngModel)]="theUser.password" #password="ngModel" required 
                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$">
                <div *ngIf="password.invalid && password.touched">
                    <small class="text-danger"*ngIf="password.errors.pattern" >
                        1 uppercase 1 lowercase 1 special charcter 1 number
                    </small>
                    <small class="text-danger"  >
                        password is required
                    </small>
                 </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
              <button type="submit"  class="btn btn-primary"
    
               (click)="onUserLogin()"
              >LOGIN</button>
            </div>
        </div>
    
    
    </div>
</form>